.input_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input_container label {
    color: var(--default-text-color);
    font-size: var(--default-font-size);
}

.input_container input {
    padding: 8px;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    border: 2px solid var(--accent-color);
    color: var(--default-text-color);
    font-size: var(--default-font-size);
}

.input_container input::placeholder {
    font-size: var(--default-font-size);
    color: var(--default-placeholedr-color);
}