:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-weight-weight: 600;

  --accent-color: rgb(239, 192, 0);
  --accent-light-color: rgb(255, 212, 35);
  --accent-dark-color: rgb(188, 151, 0);
  --default-backgroud-color: rgb(51,51,51);
  --accent-backgroud-color: rgb(30,30,30);
  --default-text-color: white;
  --error-border-color: #ef0000;
  --error-content-color: #ffefef;
  --default-placeholedr-color: #aaa;
  --default-font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

p, label, input, input::placeholder {
  color: var(--default-text-color);
  font-size: var(--default-font-size);
  margin: 0;
}

html, body {
  min-width: 320px;
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}