.header {
    background-color: var(--accent-backgroud-color);
    padding: 2px;
    display: flex;
    gap: 8px;
    position: static;
}

.logo_unauthorized {
    color: var(--accent-color);
    text-align: center;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav a {
    color: white;
}

.nav a:hover {
    color: #919191;
}


.logo a {
    color: var(--accent-color);
}
