.page_wrapper {
    padding: 24px 24px 0;
    background-color: var(--dark-bg-color);
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}


.expandedCard, .card {
    border-radius: 12px;
    border: 1px solid var(--input-border-color);
    background-color: var(--card-bg-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card {
    padding: 12px 16px;
}

.card:hover {
    border-color: var(--accent-light-color);
}

.title {
    color: var(--accent-color);
    font-size: var(--default-font-size);
    font-weight: 500;
    margin-bottom: 0;
}

.expanded {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

.info {
    font-size: var(--default-font-size);
    color: var(--light-text-color);
    white-space: pre-wrap;
    margin: 4px 0; /* Отступы между строками информации */
}

.expandedFilters {
    padding: 0 16px 16px;
}

.filters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}

.filterControls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .filters {
        grid-template-columns: 1fr;
    }
}

.filterHeader {
    height: 54px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expandedCard:hover {
    border-color: var(--accent-light-color);
}

.statusSelector {
    display: flex;
}

.cardUpdate {
    display: flex;
    justify-content: space-between;
}

.update_section {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.publish_section {
    margin-top: 12px;
}

.text_info {
    margin-top: 12px;
}